body {
	font-family: Ubuntu;
}

#player-controls {
	border: 2px solid black;
}

#orchestra-map {
	border: 2px solid black;
}

#step-sequencer {
	border: 2px solid black;
}

#piano-roll {
	border: 2px solid black;
}
